.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#gameboard-container {
  margin: auto;
}
table {
  /* display: block; */
  margin: auto;
}

td {
  background-color: #aad751; /*lighter green from google minesweeper*/
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.cell {
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.hidden {
  background-color: #aad751 !important;
}

.shown {
  background-color: blue;
}

.mine {
  background-color: red;
}

._1 {
  background-image: url('images/1-blue.png');
  border-radius: 2px;
  border-color: red;
}

._2 {
  background-image: url('images/2-green.png');
}

.marked {
  background-color: pink !important;
}

.timer-button {
  width: 80px;
  height: 30px;
  margin: 15px;
}

.difficulty-button {
  width: 100px;
  height: 40px;
  margin: 15px;
  padding: 5px;
}